body {
    font-family: Arial;
    text-align: center;
    padding: 40px;
}

#colors {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.color {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    cursor: pointer;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
